h1  {
    font-family: sans-serif;
    font-size: 6vw;
  }
h2  {
    font-family: sans-serif;
    font-size: 5vw;
  }
h3  {
    font-family: sans-serif;
    font-size: 4vw;
  }
h4  {
    font-family: sans-serif;
    font-size: 3vw;
  }
h5  {
    font-family: sans-serif;
    font-size: 2vw;
  }
h6  {
    font-family: sans-serif;
    font-size: 1vw;
  }      
p   {
    font-family: courier;
    font-size: 2vw;
  }
div {
    text-align: center;
    align-items: center;
  }
table {
    border: 0.5vw solid black;
    border-radius: 2vw;
    align-content: center;
    font-family: sans-serif;
    font-size: 2vw;
    padding: 0.5vw;
    width: 90vw;
  }  
td {
    border: 0.5vw solid black;
    border-radius: 2vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 2vw;
    padding: 0.5vw;
    min-width: 5vw;
  }  
th {
    border: 0.5vw solid black;
    background: rgb(153,153,151);
    border-radius: 2vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 2vw;
    padding: 0.5vw;
    min-width: 5vw;

  }     
body {
        background: rgb(255, 255, 255);
    }
      
    [data-tab-info] {
        display: none;
    }

    .active[data-tab-info] {
        display: block;
    }
      
    .tab-content {
        font-size: 1.5vw;
        font-family: sans-serif;
        text-align: center;
        color: rgb(0, 0, 0);
    }
      
    .tabs {
        font-size: 3vw;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(0, 0, 0);
        display: flex;
        margin: 0%;

    }
      
    .tabs span {
      background: rgb(153,153,151);
      padding: 1vw;
        border: 0.5vw solid rgb(0, 0, 0);
        border-radius: 2vw;
        margin: 0.5vw;
    }
      
    .tabs span:hover {
        background: rgb(255, 255, 255);
        cursor: pointer;
        color: black;
    }


    .about-table {
      border: 0.5vw solid black;
      border-radius: 2vw;
      text-align: left;
      align-content: stretch; 
      font-family: sans-serif;
      font-size: 2vw;
      padding: 0.5vw;
      width: 90vw;
    }
    
    .about-col {
      border: 0.5vw solid black;
      border-radius: 2vw;
      text-align: left;
      align-content: stretch; 
      font-family: sans-serif;
      font-size: 2vw;
      padding: 0.5vw;
    }

    .notification-col {
      border: 0.5vw solid black;
      border-radius: 2vw;
      text-align: left;
      align-content: stretch; 
      font-family: sans-serif;
      font-size: 2vw;
      padding: 0.5vw;
    }
    .not-available {
    background: rgb(23, 154, 100);

    }
    .logo {
      width:20%;
      height:auto;
    }
